:host {
  display: flex;
  /*on służy do tego żeby nie łamało*/
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
}

#congratulation {
  background: lightyellow;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

div p {
  text-align: center;
  font-size: 130%;
  padding: 3em;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px;
  background: gray;
  border-radius: 5px;
}

a:hover {
  color: white;
  transition-duration: 3s;
  font-weight: bold;
}

img {
  width: 426px;
  height: 273px;
  display: inline-block;
}

#congratulation div {}