<div id="congratulation">

  <div *ngIf="victoryStatus == 'w'">
    <img src="/assets/smile.png"><p>V for Victory :-)</p>
  </div>
  <p *ngIf="victoryStatus == 'l'">
    <br> GAME OVER
    <br>
    <br>"Porażka nie czyni Cię przygranym. Czyni za to poddawanie się, godzenie się z nią i odmowa ponownego próbowania"
    <br><span>Richard Exely</span>
  </p>
  <p *ngIf="victoryStatus == 'd'">Remis :D</p>
  <div class="buttons">
    <!-- komunikacje rodzic - dziecko. W dziecku dodaje input, a w rodzicu wypełniam atrybut w szablonie-->
    <!-- komunkacja dziecko -> rodzic. w dziecku robię output, a w rodzicu obsługuję tak jak eventy, 
        czyli robię atrybut, a jego nazwę ubieram w nawias okrągły. Jako wartość wywołanie jakiejś metody.
      Congratulations jest użyte w tic tac toe i to go czyli dzieckiem -->

    <!-- emit jest z angulara, on jest nadanego wcześnej typu EventEmitter. EventEmmiter ma w sobie motedę emit -->
    <a (click)="newGame.emit()">Zagraj ponownie</a>
    <a>Skontaktuj się ze mną</a>
  </div>
</div>