:host {
  display: block;
  background: darkblue;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

table {
  margin-left: auto;
  margin-right: auto;
  /* background: lightblue;*/
  padding: 30px;
}

th {
  width: 120px;
  height: 120px;
  padding: 10px;
}

tr {
  padding: 10px;
}

h1 {
  text-align: center;
  color: lightblue;
  margin-top: 0;
  padding: 40px;
}