<h1>MEMORY</h1>
<table>
  <tr *ngFor="let row of board">
    <th *ngFor="let card of row">
      <app-card *ngIf="card" [card]="card" (click)="chooseCard(card)"></app-card>
    </th>
    <!--[] -nazwa tego z inputa-->
  </tr>
</table>
<div *ngIf="cardsLeft===0">Brawo</div>
<app-congratulation *ngIf="cardsLeft===0"></app-congratulation>