:host {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  padding-bottom: 10vh;
}

td~td {
  border-left: 1px solid black;
}

table {
  display: inline-block;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

td {
  text-align: center;
  width: 50px;
  height: 50px;
}

tr~tr td {
  border-top: 1px solid black;
}

th {
  display: none;
}

h1 {
  display: inline-block;
}