<h1>KRZYŻYK I KÓŁKO</h1>
<div>
  <table>
    <!--do oznacania pierwszego wiersza-->
    <thead>
      <tr>
        <!-- to jest ten pusty, bo ten drugi th przejdzie po elementach listy byłyby tylko 3 kolumny. Tutaj mam 4 (jedna ukryta) -->
        <th></th>
        <th *ngFor="let columnName of columnNames">{{columnName}}</th>
      </tr>
    </thead>
    <tbody>
      <!-- let Y = index - angularowo tworzę zmienną lokalną, z tej zmiennej będę przekazywać dalej dane dot pozycji-->
      <tr *ngFor="let rowName of rowNames; let y = index">
        <th>{{rowName}}</th>
        <!-- new FieldPosition())"  tworzy instancję klasy i wywołuje konstruktor-->
        <td *ngFor="let columnName of columnNames; let x = index" (click)="fieldClick(x, y)">
          {{indexToOwner[getFieldIndex(x, y)]}}
        </td>
        <!-- td prawie jak th tylko dla innych niż pierwszy-->
      </tr>
    </tbody>
  </table>
</div>
<!-- (newGame) - to jest w congratulation i tutaj to łączymy z wywołaniem startGame() -->
<app-congratulation [victoryStatus]="victoryStatus" *ngIf="victoryStatus" (newGame)="startGame()"></app-congratulation>
<!-- [] wysyłam pole match w świat (do congratulation, gdzie Input to odbierze) -->

<!-- td może być tylko w tr i jest już komórką -->