<div class="background">
  <h1>
    Lista gier
  </h1>

  <ul class="flex-container">
    <li>
      <a class="photo" routerLink="/memory">
        <img src="/assets/memory.png">
      </a>
      <h2 routerLink="/memory">Memory</h2>
      <div>
        <p>Popularna gra, polegająca na odnajdywaniu tych samych par obrazków.</p>
        <div class="buttons">
          <a routerLink="/memory">
            <button>
              <i class="material-icons">
                play_circle_outline
              </i>ZAGRAJ</button>
          </a>
          <button>
            <a href="https://gitlab.com/marta-nicpon/games.git">
              <img src="/assets/logo.png">GitLab</a>
          </button>
        </div>
      </div>
    </li>
    <li>
      <a routerLink="/tic-tac-toe">
        <img src="/assets/tictactoe.png">
      </a>
      <h2>Tic-tac-toe</h2>

      <div>
        <p>Popularna gra wykonana w dwóch poziomach trudności, różniących się się między sobą logiką.</p>
      </div>
      <div class="buttons">
        <a routerLink="/tic-tac-toe">
          <button>
            <i class="material-icons">
              play_circle_outline
            </i>ZAGRAJ</button>
        </a>
        <button>
          <a href="https://gitlab.com/marta-nicpon/games.git">
            <img src="/assets/logo.png">GitLab</a>
        </button>
      </div>
    </li>

    <!--
    <li>
      <a>
        <img src="/assets/memory.png">
      </a>
      <h2>Statki</h2>
      <div>
        <p>Gra memory jest to gra.... bla bla bla ... itp itd</p>
      </div>
      <div class="buttons">
        <button>
          <i class="material-icons">
            play_circle_outline
          </i>ZAGRAJ</button>
        <button>
          <img src="/assets/logo.png">GitLab</button>
      </div>
    </li>
    <li>
      <a>
        <img src="/assets/memory.png">
      </a>
      <h2>Kółko i krzyżyk 15x15</h2>
      <div>
        <p>Rozszerzona wersja popularnej gry 'krzyżyk i kółko'</p>
      </div>
      <div class="buttons">
        <button>
          <i class="material-icons">
            play_circle_outline
          </i>ZAGRAJ</button>
        <button>
          <img src="/assets/logo.png">GitLab</button>
      </div>
    </li> -->
    <li>
      <a routerLink="/kulki">
        <img src="/assets/kulki.png">
      </a>
      <h2>Kulki</h2>
      <div>
        <p>Gra napisana z użyciem Canvas. </p>
      </div>
      <div class="buttons">
        <a routerLink="/kulki">
          <button>
            <i class="material-icons">
              play_circle_outline
            </i>ZAGRAJ</button>
        </a>
        <button>
          <a href="https://gitlab.com/marta-nicpon/games.git">
            <img src="/assets/logo.png">GitLab</a>
        </button>
      </div>
    </li>
  </ul>
</div>