:host {
  display: block;
  width: 100%;
  min-height: 100vh;
  background: #344780;
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  text-align: center;
  animation: moja_animacja 2s;
  color: #E8EAEF;
  padding: 20px;
}

.background {
  background-color: #1F2555;
  border-radius: 15px;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-bottom: 25px;
}

ul {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  animation: moja_animacja 4s;
  /* animation-fill-mode: forwards;      zapisuje ustaienia stanu końcowego animacji*/
  margin-top: 5vh;
  justify-content: center;
  padding: 0;
}

li {
  margin: 10px;
  padding: 10px;
  width: 250px;
  height: 360px;
  background-color: #E8EAEF;
  border-radius: 20px;
}

li:hover {
  /*  background-color:red; */
}

ul li a:hover {
  color: black;
  transition-duration: 2s;
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  display: flex;
  align-items: center;
  margin: 5px;
}

button:hover {
  color: black;
  transition-duration: 3s;
  font-weight: bold;
}

button img {
  padding: 0;
  width: 20px;
  height: 20px;
}

ul li a {
  color: #1F2555;
  font-size: 130%;
  text-decoration: none;
}

img {
  width: 180px;
  height: 150px;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}

img:hover {
  width: 185px;
  height: 155px;
  color: #344780;
  box-shadow: 6px 6px;

}


p {
}
h2 {
  text-align: center;
  font-weight: normal;
  padding: 0;
}
h2:after {
  display: block;
  content: '';
  border-bottom: 1px solid #262626;
  width: 200px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;

}

summary::-webkit-details-marker {
  display: none;
}

@keyframes moja_animacja {
  0% {
    margin-top: 0;
    opacity: 0;
  }
}

@keyframes slidein {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}