<canvas #myCanvas [width]="boardWidth" [height]="totalHeight" (click)="click($event)" (mousemove)="mouseMove($event)"
> <!--# id angularowy-->

</canvas>
<app-congratulation [victoryStatus]="victoryStatus" *ngIf="victoryStatus" (newGame)="startGame()"></app-congratulation>


<!-- Nawiasy [] mogę używać pól z tego samego komponentu w htmlu --->